.DS_Store
**/node_modules
**/dist
**/build
**/.idea
**/.vscode
app-minimal
db.sqlite

# local env files
**/.env.local
**/.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
