name: vercel

on:
  push:
    branches-ignore:
      - "renovate/**"
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Cache pnpm modules
        uses: actions/cache@v3
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-

      - name: Setup pnpm
        uses: pnpm/action-setup@v2.2.1
        with:
          version: latest
          run_install: true
        env:
          DATABASE: ${{ secrets.DATABASE }}

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16'
          cache: 'pnpm'
          registry-url: 'https://registry.npmjs.org'

      - name: Build
        run: |
          pnpm build

      - uses: amondnet/vercel-action@v20.0.1
        if: github.event_name != 'push' || github.ref != 'refs/heads/master'
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          github-comment: |
            ✅ Preview
            hotaru-theme: {{deploymentUrl}}
            classic-theme: {{deploymentUrl}}/index.html?theme=classic
            hotaru-admin: {{deploymentUrl}}/admin/

            Built with commit {{deploymentCommit}}.
            This pull request is being automatically deployed with [vercel-action](https://github.com/marketplace/actions/vercel-action)
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          vercel-org-id: ${{ secrets.ORG_ID}}
          vercel-project-id: ${{ secrets.PROJECT_ID}}

      - uses: amondnet/vercel-action@v20.0.1
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          github-comment: |
            ✅ Preview
            hotaru-theme: {{deploymentUrl}}
            classic-theme: {{deploymentUrl}}/index.html?theme=classic
            hotaru-admin: {{deploymentUrl}}/admin/

            Built with commit {{deploymentCommit}}.
            This pull request is being automatically deployed with [vercel-action](https://github.com/marketplace/actions/vercel-action)
          vercel-args: --prod
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          vercel-org-id: ${{ secrets.ORG_ID}}
          vercel-project-id: ${{ secrets.PROJECT_ID}}